/* skills.css */

/* Animation for the skills section heading */
.section-heading {
  animation: fadeInUp 1s ease-in-out;
}

/* Skill item animation */
.skill-item {
  animation: slideIn 0.5s ease-out;
}

/* Glow effect */
.skill-item:hover {
  background-color: rgba(7, 169, 244, 0.7); /* Change the background color on hover */
}


.download{
  animation: slideIn 0.5s ease-out;
  
}

/* Glow effect */
.download:hover {
  background-color: rgba(7, 169, 244, 0.7); /* Change the background color on hover */
  font-weight: bolder;
  font-size: 20px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
